name: Check Nix expressions

on:
  push:
    branches: [main]
    paths: ["**.nix", "**.lock"]
  pull_request:
    paths: ["**.nix", "**.lock"]
  workflow_dispatch:

jobs:
  flake-check:
    runs-on: "ubuntu-latest"

    services:
      verdaccio:
        image: verdaccio/verdaccio:5
        ports:
          - 4873:4873

    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            sandbox = true

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - run: nix flake check -Lv
