name: Check Nix expressions

on:
  push:
    branches: [main]
    paths: 
      - "**.nix"
  workflow_dispatch:

jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - run: nix flake check -Lv --option sandbox true